<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/CSS/bootstrap.min.css">
<link rel='stylesheet' href="/CSS/MyStyle.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<head>
<meta charset="ISO-8859-1">
<title>View Chart</title>
</head>
<body>
	<div class="container">
		<h1>Corona Tracker</h1>
		<canvas id="myChart"></canvas>
	</div>
	<script>
		var xmlhttp=new XMLHttpRequest();
		var url="http://localhost:8082/MyData.json";
		xmlhttp.open("GET",url,true);
		xmlhttp.send();
		xmlhttp.onreadystatechange=function(){
			if(this.readystate==4 && this.status==200){
				var data=JSON.parse(this.responseText);
				var country=data.myData.map(function(elem){
					return elem.country;
				})
				var latestTotalDeaths=data.myData.map(function(elem){
					return elem.latestTotalDeaths;
				})
			}			
		}
		const ctx = document.getElementById('myChart');

			new Chart(ctx, {
			  type: 'bar',
			  data: {
			    labels: country,
			    datasets: [{
    			  label: latestTotalDeaths,
    			  data: 'latestTotalDeaths',
    			  borderWidth: 1
   			 }]
  			},
  			options: {
  			  scales: {
  			    y: {
  			      beginAtZero: true
  			    }
  			  }
  			}
		});
</script>
</body>
</html>

