<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" th:href="@{/CSS/bootstrap.min.css}">
<link rel='stylesheet' th:href="@{/CSS/MyStyle.css}">
<script th:src="@{/JS/Chart.js}"></script>
<title>View Chart</title>
</head>
<body>
	<h2 th:value="${myURL}" th:text="${myURL}" id="myURL">Hello Good Morning!</h2>
	<div class="card text-center m-5" id="myChart">
		<div class="card-header">
			<h1>Corona Virus Death Report</h1>
		</div>
		<div class="card-body">
			<canvas id="chart-area" width="800" height="450"></canvas>
		</div>
	</div>
	<script type="text/javascript">
		getChartDate();
		async function getChartData(){
			console.log(document.URL);
			const queryString=window.location.search;
			console.log('Query String='+queryString);
			console.log("Entering getChartData Method...");
			let myURL=document.getElementById("myURL");
			const apiurl=myURL.innerHTML;
			const response=await fetch(apiurl);
			console.log(response);
			const CharData=await response.json();
			console.log('barChartData length='+CharData.length);
			countries=[];
			deathcount=[];
		}
	</script>
</body>
</html>